body {
    padding-top: 80px;
    margin-left: 30px;
}


/* Styling for the index page*/
@media (min-width:768px){
    .border-md-left {
        border-left: solid;
        padding-left: 10px;
      }
}

/* image in the card */
.card-img-top{
    object-fit: cover;
    height: 300px;
}

/* image in the card */
.closed_listing_img{
    opacity: 50%;
}





/* Styling for the listing page*/
.img{
    width:300px;
    height:400px;
    object-fit: contain;
    border: 2px solid #555;
}

.specs-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    width:400px;
    height:400px;
    margin-left: 30px;
}

.listing_title{
    width: 300px;
}

.close_auction_btn{
    font-size: 18px;
}

.watchlist_btn{
    margin-left: 32px;
    font-size: 18px;
}