{% extends "auctions/layout.html" %}

{% block body %}
    <h2 class="mb-5 text-center">Active Listings</h2>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

   
    <div class="d-flex flex-wrap justify-content-start">
        {% for active_listing in active_listings %}
        <div class="card mb-4 ml-4" style="width: 18rem;">
            <img class="card-img-top" src="{{active_listing.image_url}}" alt="Card image cap">
            <div class="d-flex flex-column justify-content-between card-body">
                <div class="mb-3">
                    <h5 class="card-title">{{active_listing.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{active_listing.initial_bid}}$</h6>
                    <p class="card-text">{{active_listing.description}}</p>
                </div>
                <a href="#" class="btn btn-primary" style="width: fit-content;">Details</a>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}
