{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Listing: {{ current_listing.title }}</h2>
    {% if user.is_authenticated and user_is_creator and current_listing.is_closed == False %}
            <a href="{% url 'auctions:close_auction' current_listing.id %}" class="btn btn-danger">
                <i class="bi bi-x-lg pr-1"></i> Close auction
            </a>
    {% endif %}
    <div class="mx-5">
        {% if user.is_authenticated and not user_is_creator %}
            {% if add_to_watchlist %}
                <form action="{% url 'auctions:add_to_watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{current_listing.id}}" name="listing_id">
                    <button class="btn btn-success" type="submit">
                        <i class="bi bi-plus-lg mr-1"></i>
                        Add to Watchlist
                    </button>
                </form>
            {% else %}
                <form action="{% url 'auctions:remove_from_watchlist' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="{{current_listing.id}}" name="listing_id">
                    <button class="btn btn-danger" type="submit">
                        <i class="bi bi-trash3 mr-1"></i>
                        Delete from Watchlist
                    </button>
                </form>
            {% endif %}
        {% endif %}
        <img src="{{ current_listing.image_url }}" alt="{{ current_listing.title }}">
        <div>{{ current_listing.description }}</div>
        <div>Category: {{ current_listing.category }}</div>
        <div>Listed by: {{ current_listing.creator_id }}</div>
        {% if no_bids %}
            <div>${{ current_listing.initial_bid }} - Initial bid</div>
        {% else %}
            <div>${{ highest_bid }} - Highest bid</div>
        {% endif %}
        {% if number_of_biddings > 0 %}
            {% if number_of_biddings == 1 %}
                <a href="{% url 'auctions:bids_details' current_listing.id %}">1 bid so far</a>
            {% else %}
                <a href="{% url 'auctions:bids_details' current_listing.id %}">{{ number_of_biddings }} bids so far</a>
            {% endif %}
            {% if user == highest_bidder %}
                <div>Your bid is the highest bid</div>
            {% else %}
                <div>{{highest_bidder}} has the highest bid</div>
            {% endif %}
        {% else %}
            <div> No bids so far</div>
        {% endif %}
        {% if user.is_authenticated and not user_is_creator %}
            <form action="{% url 'auctions:add_bid' %}" method="post">
                {% csrf_token %}
                {{ add_bid_form }}
                <input type="hidden" value="{{current_listing.id}}" name="listing_id">
                <input class="btn btn-primary" type="submit" value="Place Bid">
            </form>

            <div class="d-flex flex-column mt-3 mx-5" style="max-width:750px;">
                <form action="{% url 'auctions:add_comment' current_listing.id %}" method="post" class="d-flex">
                    {% csrf_token %}
                    {{ add_comment_form }}
                    <input class="btn btn-primary ml-2" type="submit" value="Add comment">
                </form>
                {% for listing_comment in listing_comments %}
                    <div class="card mt-2">
                        <div class="card-body">
                            <h5 class="card-title">{{ listing_comment.user_id }}</h5>
                            <p class="card-text">{{ listing_comment.comment }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

{% endblock %}